
config.json
.gitignore
.vscode/
.pytest_cache/
__pycache__/
docs/make.bat
docs/Makefile
docs/build/html/.buildinfo
docs/build/html/genindex.html
docs/build/html/index.html
docs/build/html/objects.inv
docs/build/html/search.html
docs/build/html/searchindex.js
docs/build/html/usage.html
docs/build/html/.doctrees/environment.pickle
docs/build/html/.doctrees/index.doctree
docs/build/html/.doctrees/usage.doctree
docs/build/html/_sources/index.rst.txt
docs/build/html/_sources/usage.rst.txt
docs/build/html/_static/alabaster.css
docs/build/html/_static/base-stemmer.js
docs/build/html/_static/basic.css
docs/build/html/_static/custom.css
docs/build/html/_static/doctools.js
docs/build/html/_static/documentation_options.js
docs/build/html/_static/file.png
docs/build/html/_static/french-stemmer.js
docs/build/html/_static/language_data.js
docs/build/html/_static/minus.png
docs/build/html/_static/plus.png
docs/build/html/_static/pygments.css
docs/build/html/_static/searchtools.js
docs/build/html/_static/sphinx_highlight.js
docs/build/html/_static/translations.js
docs/source/conf.py
docs/source/index.rst
